<h1>Busy There? Question Categories</h1>

<form class="form-inline">
    <select id="question">
      <% @Questions.each do |q| %>
          <option value="<%= q.id%>"><%= q.question%></option>
      <% end %>
    </select>

  <select id="category">
    <% @FoursquareCategories.each do |c|
        if c.name.downcase == "arts & entertainment" or
            c.name.downcase == "food" or
            c.name.downcase == "nightlife spot"      %>
		<optgroup label="<%= c.name %>">
		  <option value="<%= c.id%>"><%= c.name%></option>
    <%
            c.categories.each do |sub_c|
    %>

        <option value="<%= c.id %>:<%= sub_c.id%>"><%= sub_c.name%></option>
    <% end
       %>
		</optgroup>
        <%
       end
       end %>
  </select>


  <!-- <input type="text" class="input-large" id="category" placeholder="Category ID" />  -->
    <button type="submit" class="btn" id="add">Add</button>
</form>

<h2>Existing Question Categories</h2>

<ul>
  <% @QuestionCategories.each do |qc| %>
    <li><%= qc.parent_category_name %> - <%= qc.category_name %> - <%= qc.question.question %></li>
  <% end %>
</ul>


<script src="/javascripts/add-question-category.js"></script>